/** @format */
.product-listing {
  display: flex;
  margin: 1rem;
}
.product-card {
  margin: 1rem;
}

.quantity {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.total-card {
  position: absolute;
  right: 5%;
  top: 20%;
}

.cart-products {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.empty-message {
  font-size: 2rem;
  margin: 2rem;
  font-weight: 700;
}

.go-to-cart {
  font-size: 1.3rem;
}

button {
  cursor: pointer;
}

.nav {
  position: static;
  top: 0;
}
