/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fractalui.netlify.app/css/fractal.css");

.nav {
  width: 100vw;
  background-color: rgb(83, 83, 167);
}
